:host {
  display: block;
  width: 100%;
  height: 100%;

  background: #1e1e1e;
  box-shadow:
    0px 10px 16px rgba(0, 0, 0, 0.35),
    0px 2px 5px rgba(0, 0, 0, 0.35),
    inset 0px 0.5px 0px rgba(255, 255, 255, 0.08),
    inset 0px 0px 0.5px rgba(255, 255, 255, 0.35);
  padding: 0.5rem;
  border-radius: 0.8125rem;
}
