<div>
  <label>Video Quality (CRF)</label>
  <input-component type="number" [(ngModel)]="crf"></input-component>
</div>
<div>
  <label>Preset</label>
  <ed-select [(ngModel)]="preset">
    <ed-select-option value="ultrafast">Ultrafast</ed-select-option>
    <ed-select-option value="superfast">Superfast</ed-select-option>
    <ed-select-option value="veryfast">Veryfast</ed-select-option>
    <ed-select-option value="faster">Faster</ed-select-option>
    <ed-select-option value="fast">Fast</ed-select-option>
    <ed-select-option value="medium">Medium</ed-select-option>
    <ed-select-option value="slow">Slow</ed-select-option>
    <ed-select-option value="slower">Slower</ed-select-option>
    <ed-select-option value="veryslow">Veryslow</ed-select-option>
  </ed-select>
</div>

<div>
  <label>Frame Rate</label>
  <input-component type="number" [(ngModel)]="frameRate"></input-component>
</div>

<div>
  <label>Resolution</label>
  <input-component prefix="W" type="number" [(ngModel)]="resolutionWidth"></input-component>

  <input-component prefix="H" type="number" [(ngModel)]="resolutionHeight"></input-component>
</div>

<button (click)="exportVideo()">Export Video</button>
