:host {
  display: block;
  width: 280px;
  background: #181818;
  flex-shrink: 0;
  border-left: solid 1px #484848;
}


.properties-panel_row {
  label {
    white-space: nowrap;
    min-width: 50px;
  }
}