<div class="properties-panel">
  <div class="properties-panel_header">
    <h2>Canvas</h2>
  </div>
  <div class="properties-panel_row">
    <input-component prefix="W" [(ngModel)]="settings.recordingWidth"></input-component>
    <input-component prefix="H" [(ngModel)]="settings.recordingHeight"></input-component>
  </div>
  <div class="properties-panel_row">
    <color [(ngModel)]="settings.backgroundColor"></color>
  </div>

  @let selectedVideo = settings.selectedVideo();

  @if (selectedVideo) {
    <div class="properties-panel_row">
      <ed-select [(ngModel)]="selectedVideo.clipType">
        <ed-select-option value="none">None</ed-select-option>
        <ed-select-option value="circle">Circle</ed-select-option>
        <ed-select-option value="rectangle">Rectangle</ed-select-option>
      </ed-select>
    </div>

    <div class="properties-panel_header">
      <h2>Border</h2>
    </div>
    <div class="properties-panel_row">
      <color [(ngModel)]="selectedVideo.borderColor" />
      <input-component type="number" [(ngModel)]="selectedVideo.borderWidth"></input-component>
    </div>

    <div class="properties-panel_row">
      <button (click)="recordingService.bringToFront(selectedVideo.videoDO())">
        Bring to Front
      </button>
    </div>
    <input type="checkbox" [(ngModel)]="selectedVideo.showClippedHint" />
  }
</div>

<!-- <a download="recording.webm" [href]="downloadData">Download recording</a> -->

@for (recording of recordingService.recordings(); track $index) {
  <div>
    {{ recording.name }}

    <button (click)="recording.convertRecording()">Convert</button>

    <button (click)="recording.download()">Download</button>
    <button (click)="editorService.open(recording)">Edit</button>

    <!-- <button (click)="playRecording(recording)">Play</button>
    <button (click)="convertRecording(recording)">Convert</button>
    @if (recording.convertedData) {
      <button (click)="playConvertedRecording(recording)">Play Converted</button>
      <a download="{{ recording.name }}.mp4" [href]="getConvertedUrl(recording)"
        >Download Converted</a
      >
    } -->
  </div>
}
