<div class="properties-panel">
  <div class="properties-panel_header">
    <h2>Canvas</h2>
  </div>
  <div class="properties-panel_row">
    <label>Size</label>
    <input-component prefix="W" [(ngModel)]="settings.recordingWidth"></input-component>
    <input-component prefix="H" [(ngModel)]="settings.recordingHeight"></input-component>
  </div>
  <div class="properties-panel_row">
    <label>BG Color</label>
    <color [(ngModel)]="settings.backgroundColor"></color>
  </div>

  @let selectedVideo = settings.selectedVideo();

  @if (selectedVideo) {
    <div class="properties-panel_header">
      <h2>Clipping</h2>
    </div>
    <div class="properties-panel_row">
      <label>Type</label>
      <ed-select [(ngModel)]="selectedVideo.clipType">
        <ed-select-option value="none">None</ed-select-option>
        <ed-select-option value="circle">Circle</ed-select-option>
        <ed-select-option value="rectangle">Rectangle</ed-select-option>
      </ed-select>
    </div>

    @if (selectedVideo.clipType() !== 'none') {
      <div class="properties-panel_row">
        <label>Border</label>
        <color [(ngModel)]="selectedVideo.borderColor" />
        <input-component type="number" [(ngModel)]="selectedVideo.borderWidth"></input-component>
      </div>
    }

    <div class="properties-panel_header">
      <h2>Background</h2>
    </div>
    <div class="properties-panel_row">
      <label>Type</label>

      <ed-select [(ngModel)]="selectedVideo.videoDO().backgroundType">
        <ed-select-option value="none">None</ed-select-option>
        <ed-select-option value="blur">Blur</ed-select-option>
        <ed-select-option value="image">Image</ed-select-option>
      </ed-select>
    </div>

    @if (selectedVideo.videoDO().backgroundType() === 'blur') {
      <div class="properties-panel_row">
        <label>Blur</label>
        <input type="range" [min]="0" max="50" [(ngModel)]="selectedVideo.videoDO().blurAmount" />
      </div>
      <div class="properties-panel_row">
        <label>Edge Blur</label>
        <input
          type="range"
          [min]="0"
          max="50"
          [(ngModel)]="selectedVideo.videoDO().edgeBlurAmount"
        />
      </div>
      <div class="properties-panel_row">
        <label>FG. Thr.</label>
        <input
          type="range"
          [min]="0"
          max="1"
          step="0.01"
          [(ngModel)]="selectedVideo.videoDO().foregroundThreshold"
        />
      </div>
    }
    <div class="properties-panel_row">
      <button (click)="recordingService.bringToFront(selectedVideo.videoDO())">
        Bring to Front
      </button>
    </div>
    <input type="checkbox" [(ngModel)]="selectedVideo.showClippedHint" />
  }
</div>

<!-- <a download="recording.webm" [href]="downloadData">Download recording</a> -->

@for (recording of recordingService.recordings(); track $index) {
  <div>
    {{ recording.name }}

    <button (click)="recording.convertRecording()">Convert</button>

    <button (click)="recording.download()">Download</button>
    <button (click)="editorService.open(recording)">Edit</button>

    <!-- <button (click)="playRecording(recording)">Play</button>
    <button (click)="convertRecording(recording)">Convert</button>
    @if (recording.convertedData) {
      <button (click)="playConvertedRecording(recording)">Play Converted</button>
      <a download="{{ recording.name }}.mp4" [href]="getConvertedUrl(recording)"
        >Download Converted</a
      >
    } -->
  </div>
}

@for (audio of recordingService.audioSources(); track $index) {
  audio
  <app-audio-visualizer [stream]="audio.stream"></app-audio-visualizer>
}
