@if (showClippedHint()) {
  <video
    style="position: absolute; left: 0; top: 0; opacity: 0.2"
    [srcObject]="srcObject()"
    [attr.width]="width()"
    autoplay
  ></video>
}

<div
  #compositionsource
  [style.clipPath]="
    clipType() === 'circle'
      ? 'circle(' + circleProps().r + 'px at ' + circleProps().cx + 'px ' + circleProps().cy + 'px)'
      : clipType() === 'rectangle'
        ? `polygon(${rectProps().x}px ${rectProps().y}px, ${rectProps().x + rectProps().width}px ${rectProps().y}px, ${rectProps().x + rectProps().width}px ${
            rectProps().y + rectProps().height
          }px, ${rectProps().x}px ${rectProps().y + rectProps().height}px)`
        : 'none'
  "
>
  <video
    [srcObject]="srcObject()"
    (loadedmetadata)="videoLoaded($event)"
    #video
    [attr.width]="width()"
    autoplay
  ></video>

  @if (videoDO().backgroundType() === 'image') {
    <img
      style="position: absolute; top: 0; left: 0; transform-origin: top left"
      src="/assets/images/ng.png"
      [style.transform]="`scale(${blurCanvasScale()})`"
    />
  }

  <canvas
    style="position: absolute; top: 0; left: 0; transform-origin: top left"
    [style.transform]="`scale(${blurCanvasScale()})`"
    [attr.width]="width()"
    [attr.height]="height()"
    #canvas
  ></canvas>
</div>
@let cp = circleProps();

<svg style="position: absolute; top: 0; left: 0; width: 100%; height: 100%">
  <rect
    #rectangle
    [attr.x]="rectProps().x"
    [attr.y]="rectProps().y"
    [attr.width]="rectProps().width"
    [attr.height]="rectProps().height"
    [attr.stroke]="borderColor()"
    [attr.stroke-width]="borderWidth()"
    [style.visibility]="clipType() === 'rectangle' ? 'visible' : 'hidden'"
    fill="rgba(255, 0, 0, 0.1)"
  ></rect>

  <circle
    #circle
    [attr.cx]="cp.cx"
    [attr.cy]="cp.cy"
    [attr.r]="cp.r"
    [attr.stroke]="borderColor()"
    [attr.stroke-width]="borderWidth()"
    [style.visibility]="clipType() === 'circle' ? 'visible' : 'hidden'"
    fill="rgba(255, 0, 0, 0.001)"
  />

  <circle
    #circleHandle
    style="cursor: pointer"
    [attr.cx]="cp.cx + cp.r"
    [attr.cy]="cp.cy"
    [attr.r]="10"
    stroke="black"
    stroke-width="5"
    [style.visibility]="clipType() === 'circle' ? 'visible' : 'hidden'"
    fill="black"
  />
</svg>
